.article-card {
  min-height: 186px;
  border-bottom: 4px solid black;
  padding: 10px;
  overflow: auto;
  background-color: white;
}

 .article-image img {
   width: 100%;
 }

 #row2 {
   @include large {
     border: black solid 10px;
   }
 }

 #row2 h1 {
   color: white;
   background-color: black;
   height: 60px;
   margin:0 0;
   font-size: 45px;
   font-family: 'Bowlby One SC', cursive;
   text-align: left;
   display: none;
   @include large {
     display: block;
   }
 }




.article-image {
  @include size(120px 120px);
  float: left;
}

.article-text {
  width: 60%;
  float: left;
  padding: 0px 10px 10px 10px;
  height: 120px;
  position: relative;
}


.black-ad-wrapper {
  background-color: black;
  height: 300px;
  position: relative;
}

.shoe-ad-square {
  @include position(absolute, 50%);
  @include transform(translate(-50%, -50%));
}

.article-text .facebook-icon {
  position: absolute;
  left: 10px;
  top: 85px;
}

.article-text .share {
  left: 79px;
  top: 96px;
}

body {
  @include large {
  background-color: black;
  }
}
