// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.navbar-toggle {
  border: none;
  margin-top: 15px;
  & .icon-bar {
    padding: 1.5px;
    width: 19px;
  }
}
