.thrasher-logo {
  @include size(125px 35px);
  @include large {
    @include size(200px 65px);
  }
}

.navbar-inverse {
  background-color: #000;
  border-color: #000;
}
.navbar {
  margin: 0;
  height: 60px;
  @include large {
    height: 95px;
  }
}
