.video-bg {
  background-image: url('../img/metal.jpg');
  background-size: cover;
  padding: 10px;
  @include large {
    width: 50%;
    float: right;
  }
}
.video-card {
  width: 100%;
  margin: auto;
  border: 6px solid black;
  background-color: black;
}

.video {
  width: 100%;
  height: auto;
}

.video-text {
  background-color: white;
  padding: 10px;
  border-top: 1px solid black;
}

.facebook-icon {
  width: 70px;
}
