.video-bg {
  background-image: url('../img/concrete.jpg');
  background-size: cover;
  padding: 15px;
  border-bottom: 1px dashed grey;
}
.video-card {
  width: 100%;
  margin: auto;
  border: 6px solid black;
  background-color: black;
}

.video {
  width: 100%;
  height: auto;

}

.video-text {
  background-color: white;
  padding: 10px;

}

.facebook-icon {
  width: 70px;
}
